@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-marker {
  background: none;
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

.custom-swimmer {
  background: none;
  border: none;
}